<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.linroid.viewit">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.home.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.gallery.GalleryActivity"
            android:parentActivityName=".ui.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.HomeActivity"/>
        </activity>
        <activity
            android:name=".ui.viewer.ImageViewerActivity"
            android:parentActivityName=".ui.gallery.GalleryActivity"
            android:theme="@style/AppTheme.Immersive">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.gallery.GalleryActivity"/>
        </activity>
        <activity
            android:name=".ui.about.AboutActivity"
            android:label="@string/action_about"
            android:parentActivityName=".ui.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.HomeActivity"/>
        </activity>
        <activity
            android:name=".ui.path.PathManagerActivity"
            android:label="@string/title_activity_path_manager"
            android:parentActivityName=".ui.gallery.GalleryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.gallery.GalleryActivity"/>
        </activity>
        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.avos.avoscloud.feedback.ThreadActivity">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${APPLICATION_ID}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <meta-data
            android:name="leancloud"
            android:value="${CHANNEL}"/>

        <!-- Sugar Database Configuration -->
        <meta-data
            android:name="DATABASE"
            android:value="viewIt.db"/>
        <meta-data
            android:name="VERSION"
            android:value="1"/>
        <meta-data
            android:name="QUERY_LOG"
            android:value="true"/>
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.linroid.viewit.data.model"/>


        <!-- fabric -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="302543c1c53eb979da95900d940a64da930d52a6"
            />
    </application>

</manifest>